*.asc
*.[cd]er[t]
*.crt
*.pem
*.gpg
*.p7c
*.p12
*.pfx
*.pgp
package.json
index.json
.htaccess
*.htaccess
*.db
*.log
*.xml
*.xslt
.env
.env*
**/*/index.json
**/*/*.log
**/*/*.xml
**/*/*.xslt
**/.env*
**/*.yml
**/js/
**/javascript/
**/test[s]/
**/test[ing]/
**/.vs/
**/temp
**/[.]cache[d]
**/./
**/.config/
**/.azure/
**/.aws/
**/custom/
**/htm[l]/
**/*.md
**/npm/*.*
**/node_modules/*.*
**/packages/*.*
**/modules/*.*
