*.asc
*.[cd]er[t]
*.crt
*.pem
*.gpg
*.p7c
*.p12
*.pfx
*.pgp
**/js/
**/javascript/
**/test[s]/
**/test[ing]/
**/.vs/
**/temp
**/[.]cache[d]
**/./
**/.config/
**/.azure/
**/.aws/
**/custom/
**/htm[l]/
**/*.md
**/npm/*.*
**/node_modules/*.*
**/packages/*.*
**/modules/*.*
